.page {
	height: 100vh;
	width: 100vw; 
	background-color: white;
	display: flex;
	flex-direction: column;
}

.headingBar {
	width: 100vw;
	height: 20vh;
	background-color: #fffbf2;
	display: flex;
}

.footer {
	width: 100vw;
	height: 15vh;
	background-color: #86888A;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.body {
	width: 100vw;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin: 3vh 5vw 3vh 5vw;
}

.heading {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 35pt;
	align-items: center;
	display: flex;
	padding-left: 5vw;
}

.leftColumn {
	width: 46%;
	margin: 1rem 2% 0 0;
}

.middleColumn {
	width: 18%;
	margin: 1rem 0 0 0;
}

.rightColumn {
	width: 23%;
	margin: 1rem 0 0 0;
}

.card {
	border-radius: 9px;
	border-style: solid;
	border-color: #d3d3d3;
	transition: all .2s ease-in-out;
}

.card:hover {
	box-shadow: 1px 1px 3px 2px #eeeeee;
	transform: scale(1.03);
}

.card-header {
	background-color: white;
}

.grow { 
	transition: all .2s ease-in-out; 
}

.grow:hover { 
	transform: scale(1.1); 
}

.footerLink {
	color: inherit;
	text-decoration: none;
}

.footerLink:hover {
	color: #eeeeee;
	text-shadow: 1px 1px 3px #313335;
	text-decoration: none;
}

.progress {
	box-shadow: 1px 1px 3px black;
	border-radius: 10px;
	background-color: white;
}

.progress-bar {
	background-color: #E8A87C;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 40px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25pt;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25pt;
	font-weight: bold;
	margin-bottom: 3vh;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18pt;
}

a:hover {
	cursor: pointer;
}

html {
	scroll-behavior: smooth;
}