.nav-link {
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	margin-bottom: 2px;
}

li > a {
	color: rgba(255,255,255,.5) !important;
}

li > a:hover, li > a:active, li > .nav-item:hover {
	color: #eeeeee !important;
	margin-bottom: 0px;
	border-bottom: 2px solid #eeeeee;
}

.active {
	margin-bottom: 0px;
	border-bottom: 2px solid #eeeeee;
	color: #eeeeee !important;
}

.nav-brand {
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
}